# --------------------------
# Python
# ---------------------------

__pycache__/
*.pyc
.venv/

# --------------------------
# StrictDoc
# --------------------------

output/

# --------------------------
# Test-Reports
# --------------------------

docs/test-reports/
